{% extends('::admin.html.twig') %}
{% block title %}{% trans %}Menus{% endtrans %} - {{ menu_taxonomy.name }}{% endblock %}
{% block body %}

    <div class="row-fluid">
        <div class="span12">

           <h1 class="pull-left">{% trans %}Menus{% endtrans %} - {{ menu_taxonomy.name }}</h1>


             <a href="{{ path('entries_list', {'id' : menu_taxonomy.id }) }}" class="btn btn-small pull-right"><i class="icon icon-chevron-left"></i> Retour</a>
              <div class="clearfix sep3"></div>
            {% if id is defined %}
                <form class="form-horizontal" action="{{path('entries_edit', {'id' : id, 'menu_taxonomy' :  menu_taxonomy.id} )}}" method="post" {{ form_enctype(form) }}>
            {% else %}
                <form class="form-horizontal" action="{{path('entries_new', {'lang' : lang, 'menu_taxonomy' : menu_taxonomy.id} )}}" method="post" {{ form_enctype(form) }}>
            {% endif %}
                <div class="span8">
                    {{ form_errors(form) }}
                    {{ form_widget(form) }}
                    <div class="form-actions">
                        <a href="{{ path('entries_list', {'id': menu_taxonomy.id }) }}" class="button btn-cancel">{% trans %}Cancel{% endtrans %} <i class="admin-icon-cancel"></i></a>
                        <button type="submit" class="button btn-main">{% trans %}Validate{% endtrans %} <i class="admin-icon-ok"></i></button>
                    </div>
                </div>
                {{ form_rest(form) }}
            </form>
        </div>
    </div>

{% endblock body %}
{% block javascripts %}
<script type="text/javascript">
$(document).ready(function() {
    $('#menu_intern_0').click(function() {
        $('#menu_category_control_group').fadeOut();
        $('#menu_content_control_group').fadeOut();
        $('#menu_name_route_control_group').show();
    });
    $('#menu_intern_1').click(function() {
        $('#menu_category_control_group').show();
        $('#menu_content_control_group').show();
        $('#menu_name_route_control_group').fadeOut();
    });
    $('select').selectBoxIt();
});
    
</script>
{% endblock %}