{% extends('::admin.html.twig') %}
{% block title %}{% trans %}Menus{% endtrans %}{% endblock %}
{% block body %}

	<div class="row-fluid">

		<div class="span12">
			<h1 class="pull-left">{% trans %}Menus{% endtrans %}</h1>
			<a href="{{ path('menus_new') }}" class="btn-new btn-small pull-right"><i class="admin-icon-plus-circled"></i> {% trans %}New{% endtrans %}</a>
			{% for flashMessage in app.session.flashbag.get('success') %}
				<div class="clear h20"></div>
			    <div class="alert alert-success">
			    	<button class="close" data-dismiss="alert" type="button">×</button>
			        <strong>Notice</strong>
			        {{ flashMessage }}
			    </div>
			{% endfor %}
			{% for flashMessage in app.session.flashbag.get('error') %}
				<div class="clear h20"></div>
			    <div class="alert alert-error">
			    	<button class="close" data-dismiss="alert" type="button">×</button>
			        <strong>Error</strong>
			        {{ flashMessage }}
			    </div>
			{% endfor %}

			<div class="clear h20"></div>

			<table class="table table-striped table-hover">
				<thead>
					<tr>
						<th>{% trans %}Id{% endtrans %}</th>
						<th>{% trans %}Title{% endtrans %}</th>
						<th>{% trans %}Alias{% endtrans %}</th>
						<th>{% trans %}Actions{% endtrans %}</th>
					</tr>
				</thead>
				<tbody>
					{% for menu in menus %}
					<tr>
						<td>{{ menu.id }}</td>
						<td><a href="{{ path('entries_list', {'id': menu.id }) }}">{{ menu.name }}</a></td>
						<td>{{ menu.alias }}</td>
						<td>
							<a href="{{ path('menus_edit', {'id': menu.id }) }}" class="icon-edit">&nbsp;</a>
							<a href="#myModal-{{ menu.id }}" data-toggle="modal" class="icon-trash">&nbsp;</a>
							<div class="modal hide" id="myModal-{{ menu.id }}">
								<div class="modal-header">
							    	<button type="button" class="close" data-dismiss="modal">×</button>
							    	<h3>Suppression du menu ?</h3>
							    </div>
							    <div class="modal-body">
							    	<p>Voulez-vous supprimer ce menu ?</p>
							    </div>
							    <div class="modal-footer">
							    	<a href="#" class="button btn-cancel" data-dismiss="modal">Non</a>
							    	<a href="{{ path('menus_delete', {'id': menu.id }) }}" class="button btn-main">Oui</a>
							    </div>
							</div>
						</td>
					</tr>
					{% endfor %}
				</tbody>
				<tfoot>
	            	<tr>
	            		<td>{% trans %}Total{% endtrans %} : {{ total }} {% trans %}menu(s){% endtrans %}</td>
	            		<td colspan="6">
	            			{% trans %}Afficher{% endtrans %} :
			    			<select name="filter[display]" onchange="this.form.submit()">
			    				{% for i in options_pagination %}
			    					{% if i == nb %}
			    					<option value="{{ i }}" selected="selected">{{ i }} {% trans %}elements{% endtrans %}</option>
			    					{% else %}
			    					<option value="{{ i }}">{{ i }} {% trans %}elements{% endtrans %}</option>
			    					{% endif %}
			    				{% endfor %}
			    			</select>
			    		</td>
	            	</tr>
	            </tfoot>
			</table>
		</div>
	</div>
{% endblock body %}
{% block javascripts %}
<script type="text/javascript">
	$(function() {
		$('select').selectBoxIt();
	});
</script>
{% endblock %}