<div class="col12">
{% if content.getFieldValue('icon-title') != '' %}
	<h2><i class="{{ content.getFieldValue('icon-title') }}"></i> {{ content.title }}</h2>	
	{% else %}
	<h2>{{ content.title }}</h2>	
	{% endif %}
{{ content.description|formContact('fr')|googleMap|sitemap|raw }}
</div>
{% block javascript %}
	{% if srcipt is defined %}
		{{ script }}
	{% endif %}
{% endblock %}