{% extends('::admin.html.twig') %}
{% block title %}{% trans %}Content Manager{% endtrans %}{% endblock %}
{% block body %}

	<div class="row-fluid">
		<div class="span12">
			<h1 class="pull-left">{% trans %}Content Manager{% endtrans %}</h1>
			<a href="#myModal" role="button" class="btn-new btn-small pull-right" data-toggle="modal"><i class="admin-icon-plus-circled"></i> {% trans %}New{% endtrans %}</a>
				<div class="modal hide fade" id="myModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
					<form action="{{ path('contents_new', {'lang' : defaultLanguage.id }) }}" method="post">
						<div class="modal-header">
							<button type="button" class="close" data-dismiss="modal" aria-hidden="true">×</button>
							<h3 id="myModalLabel">{% trans %}Choose your content type{% endtrans %}</h3>
						</div>
						<div class="modal-body">
							{{ contentType|raw }}
						</div>
						<div class="modal-footer">
							<button class="button btn-cancel" data-dismiss="modal" aria-hidden="true">{% trans %}Cancel{% endtrans %} <i class="admin-icon-cancel"></i></button>
							<button class="button btn-main" type="submit">{% trans %}New{% endtrans %} <i class="admin-icon-ok"></i></button>
						</div>
					</form>
				</div>


			<a href="#modalImport" role="button" class="btn-new btn-small pull-right marge-right" data-toggle="modal"><i class="admin-icon-upload"></i> {% trans %}Import{% endtrans %}</a>
				<div class="modal hide fade" id="modalImport" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
					<form action="{{ path('contents_import', {'lang' : defaultLanguage.id }) }}" method="post" {{ form_enctype(form) }}>
						<div class="modal-header">
							<button type="button" class="close" data-dismiss="modal" aria-hidden="true">×</button>
							<h3 id="myModalLabel">{% trans %}Import all publications{% endtrans %}</h3>
						</div>
						<div class="modal-body">
							{{ form_widget(form) }}
						</div>
						<div class="modal-footer">
							<button class="button btn-cancel" data-dismiss="modal" aria-hidden="true">{% trans %}Cancel{% endtrans %} <i class="admin-icon-cancel"></i></button>
							<button class="button btn-main" type="submit">{% trans %}Import{% endtrans %} <i class="admin-icon-ok"></i></button>
						</div>
					</form>
				</div>
					
			{% if app.session.hasFlash('error') %}
				<div class="clear h20"></div>
			    <div class="alert alert-error">
			  		<a class="close" data-dismiss="alert" href="#">×</a>
			        {{ app.session.flash('error') }}
			    </div>
			{% elseif app.session.hasFlash('success') %}
				<div class="clear h20"></div>
			    <div class="alert alert-success">
			  		<a class="close" data-dismiss="alert" href="#">×</a>
			        {{ app.session.flash('success') }}
			    </div>
			{% endif %}
			{% if display %}


			  
				<form action="{{ path('contents') }}" method="post" id="form-main">
				<table class="table table-striped table-hover tablesorter">
		            <thead>
		                <tr>
		                  	<th>{% trans %}Title{% endtrans %}</th>
		                  	<th>{% trans %}Type{% endtrans %}</th>
		                  	<th>{% trans %}Categories{% endtrans %}</th>
		                  	<th>{% trans %}Language{% endtrans %}</th>
		                  	<th>{% trans %}Translations{% endtrans %}</th>
		                  	<th class="published">{% trans %}Published{% endtrans %}</th>
		                  	<th>{% trans %}Modified{% endtrans %}</th>
		                  	<th>{% trans %}Actions{% endtrans %}</th>
		                </tr>
		            </thead>
		            <tbody>
		              	{% for content in pagination %}
		              		{% set cid = content.id %}
			                {% set found = false %}
			                {% set class = "" %}
			                {% if loop.index %2 == 0 or loop.index == 0 %}
			                	{% set class = ' class=odd' %}
			                {% endif %}
			              	<tr{{ class }} id="content-{{ content.id }}">
			                  	<td class="title first">
			                  		<a href="{{ path('contents_edit', {'id' : content.id }) }}">
			                  			{{ content.title }}
			                  		</a>
			                  	</td>
			                  	<td>
			                  		{% if content.contenttype is defined %}
			                  			{{ content.contenttype }}
			                  		{% endif %}
			                  	</td>
			                  	<td>
			                  		{{ content.displayCategories }}
			                  	</td>
			                  	<td class="center-text"><img src="{{ asset('bundles/cmscontent/img/flags/'~content.language.iso~'.png') }}" height="16px" style="height:16px;" alt="{{ content.language.iso }}">
			                  	</td>
			                  	<td class="center-text">
			                  		{% for language in languages %}
			                  			{% for translation in content.taxonomy.contents %}
			                  				{% if language.id == translation.language.id %}
			                  					{% set found = loop.index %}
			                  				{% endif %}
			                  			{% endfor %}
				                  		{% if found != false %}
				                  			{% set found = found - 1 %}
				                  			<a href="{{ path('contents_edit', { 'id' : content.taxonomy.contents[found].id }) }}" class="flag-element">
				                  				<img src="{{ asset('bundles/cmscontent/img/flags/'~language.iso~'.png') }}" class="flag" alt="{{ language.iso }}">
				                  				<img src="{{ asset('bundles/cmscontent/img/flags/flag-ok.png') }}" class="flag-ok" alt="{{ language.iso }}">
				                  			</a>
				                  		{% else %}
				                  			<a href="{{ path('contents_translation', {'lang' : language.id, 'reference': content.id, 'contenttype': content.contenttype.id }) }}">
				                  				<img src="{{ asset('bundles/cmscontent/img/flags/'~language.iso~'.png') }}" class="flag" alt="{{ language.iso }}">
				                  			</a>
				                  		{% endif %}
			                			{% set found = false %}
			                  		{% endfor %}
			                  	</td>
			                  	<td class="center-text publish">
			                  		<a href="javascript:publishContent({{ content.id }});">
					                  	{% if content.published %}
					                  		<i class="icon-ok"></i>
					                  	{% else %}
					                  		<i class="icon-ban-circle"></i>
					                  	{% endif %}
				                  	</a>
				                </td>
			                  	<td class="center-text">
			                  		{{ content.modified|date('d/m/Y') }}
			                  	</td>
			                  	<td class="center-text last">
			                  		<a href="{{ path('contents_edit', {'id' : content.id }) }}"><i class="icon-edit"></i></a>
			                  		<a href="{{ path('contents_delete', {'id' : content.id }) }}"><i class="icon-trash"></i></a>
			                  	</td>
			                </tr>
						{% endfor %}
		            </tbody>
		            <tfoot>
		            	<tr>
		            		<td>{% trans %}Total{% endtrans %} : {{ total }} {% trans %}content(s){% endtrans %}</td>
		            		<td colspan="7">
		            			{% trans %}Afficher{% endtrans %} :
				    			<select name="filter[display]" onchange="this.form.submit()">
				    				{% for i in options_pagination %}
				    					{% if i == nb %}
				    					<option value="{{ i }}" selected="selected">{{ i }} {% trans %}elements{% endtrans %}</option>
				    					{% else %}
				    					<option value="{{ i }}">{{ i }} {% trans %}elements{% endtrans %}</option>
				    					{% endif %}
				    				{% endfor %}
				    			</select>
				    		</td>
		            	</tr>
		            </tfoot>
		        </table>
		    </form>
		    {% endif %}
		    <div class="navigation">
			    {{ knp_pagination_render(pagination) }}
			</div>
	    </div>
	</div>
{% endblock body %}
{% block javascripts %}
<script type="text/javascript">
	$('.tablesorter').tablesorter({
		dateFormat: 'uk',
		headers: {
	    	2: {sorter: false},
	    	3: {sorter: false},
	    	5: {sorter: "shortDate"},
	    	6: {sorter: false }
		},
		cssAsc: 'headerSortUp',
		cssDesc: 'headerSortDown'
	});

	$(function() {
		$('select').selectBoxIt();
	});

	function publishContent(id) {
		$.ajax({
			url: "{{ path('contents_published') }}",
			data: 'id='+id,
			type: "POST",
			success: function(state) {
				var html = '';
				if(state)
					html = '<i class="icon-ok"></i>';
				else
					html = '<i class="icon-ban-circle"></i>';
				$('tr#content-'+id+' td.publish a').html(html);
			}

		});
	}
</script>
{% endblock %}
