{% extends('::admin.html.twig') %}
{% block title %}{% trans %}Content Manager{% endtrans %}{% endblock %}
{% block body %}

	<div class="row-fluid">
		<div class="span12">

      		<h1 class="pull-left">{% trans %}Content Manager{% endtrans %}</h1>


		     <a href="{{ path('contents') }}" class="button btn-cancel pull-right"><i class="admin-icon-left-open-1"></i> {% trans %}Back{% endtrans %}</a>
		     <div class="clear h30"></div>

			{% if referenceContent is defined %}
				<h5>{% trans %}Traduction de {% endtrans %} : {{ referenceArticle.title }}</h5>
				<form class="form-horizontal" action="{{path('contents_translation', {'lang' : lang, 'reference' : referenceContent, 'contenttype': contenttype })}}" method="post" enctype="multipart/form-data">
			{% elseif content.id != 0 %}
				<form class="form-horizontal" action="{{path('contents_edit', {'id' : content.id })}}" method="post" enctype="multipart/form-data">
			{% else %}
				<form class="form-horizontal" action="{{path('contents_new', {'lang': lang})}}" method="post" enctype="multipart/form-data">
			{% endif %}
				<div class="span8">
					{{ form_errors(form) }}

					<div class="control-group">
						<div class="control-label">
							{{ form_label(form.title) }}
						</div>
						<div class="controls">
							{{ form_widget(form.title) }}
							{{ form_errors(form.title) }}
						</div>
					</div>
					<div class="control-group">
						<div class="control-label">
							{{ form_label(form.tags) }}
						</div>
						<div class="controls">
							{{ form_widget(form.tags) }}
							{{ form_errors(form.tags) }}
						</div>
					</div>
					<div class="control-group">
						<div class="control-label">
							{{ form_label(form.published) }}
						</div>
						<div class="controls inline_elements">
							{{ form_widget(form.published) }}
							{{ form_errors(form.published) }}
						</div>
					</div>
					<div class="control-group">
						<div class="control-label">
							{{ form_label(form.description) }}
						</div>
						<div class="controls">
							{{ form_widget(form.description) }}
							{{ form_errors(form.description) }}
						</div>
					</div>
					
					<div class="control-group">
						<div class="control-label">
							{{ form_label(form.categories) }}
						</div>
						<div class="controls inline_elements">
							{{ form_widget(form.categories, {'attr' : {'class' : 'categories'}}) }}
							{{ form_errors(form.categories) }}
						</div>
					</div>
					<div>
						{{ html|raw }}
						{% if contenttype is defined %}
							<input type="hidden" name="contenttype" value="{{contenttype}}" />
						{% endif %}
					</div>

					
				</div>
				<div class="span4 well">
					{{ metas|raw }}	
					<div class="control-group">
						<div class="control-label">
							{{ form_label(form.url) }}
						</div>
						<div class="controls inline_elements">
							{{ form_widget(form.url) }}
							{{ form_errors(form.url) }}
						</div>
					</div>
				</div>
				<div class="clear"></div>
				<div class="form-actions">
					    <a href="{{ path('contents') }}" class="button btn-cancel">{% trans %}Cancel{% endtrans %} <i class="admin-icon-cancel"></i></a>
                        <button type="submit" class="button btn-main">{% trans %}Validate{% endtrans %} <i class="admin-icon-ok"></i></button>
				    </div>
				{{ form_rest(form) }}
			</form>
		</div>
	</div>
{% endblock body %}

{% block javascripts %}
<script type="text/javascript">
	$(function(){
		$('.datepicker-field').datepicker();
		{% set tags_string = tags|join('", "')%}
		$('.input-tags').tag({source: [ "{{ tags_string|raw }}" ]})

	});

	$(document).ready(function(){
	  $('input').iCheck({
	    checkboxClass: 'icheckbox_flat-red',
	    radioClass: 'iradio_flat-red'
	  });
	});
</script>
{% endblock javascripts %}


