{% extends('::admin.html.twig') %}

{% block body %}

	<div class="row-fluid">
		<div class="span12">
			<h1 class="pull-left">{% trans %}Language Manager{% endtrans %}</h1>
	                  	
			<a href="{{ path('languages_new') }}" class="btn-new btn-small pull-right"><i class="admin-icon-plus-circled"></i> {% trans %}New{% endtrans %}</a>

			{% if app.session.flashbag.has('error') %}
				<div class="clear h20"></div>
			    <div class="alert alert-error">
			  		<a class="close" data-dismiss="alert" href="#">×</a>
			  		<ul class="unstyled">
			  		{% for message in app.session.flashbag.get('error') %}
			        	<li>{{ message }}</li>
			        {% endfor %}
			    	</ul>
			    </div>
			{% elseif app.session.flashbag.has('success') %}
				<div class="clear h20"></div>
			    <div class="alert alert-success">
			  		<a class="close" data-dismiss="alert" href="#">×</a>
			        <ul class="unstyled">
			  		{% for message in app.session.flashbag.get('success') %}
			        	<li>{{ message }}</li>
			        {% endfor %}
			    	</ul>
			    </div>
			{% endif %}
			

		    <div class="clearfix sep3"></div>

			<table class="table table-striped table-hover">
	            <thead>
	                <tr>
	                  	<th class="center-text">#</th>
	                  	<th>Title</th>
	                  	<th class="center-text">ISO</th>
	                  	<th class="center-text">Published</th>
	                  	<th class="center-text">Default</th>
	                  	<th class="center-text">Action</th>
	                </tr>
	            </thead>
	            <tbody>
	              	{% for language in languages %}
		              	<tr>
			                <td class="center-text">
			                  	{{ loop.index }}
			                </td>
		                  	<td>
		                  		<a href="{{ path('languages_edit', {'id' : language.id }) }}">
		                  			{{ language.title }}
		                  		</a>
		                  	</td>
		                  	<td class="center-text">
		                  		{{ language.iso }}
		                  	</td>
		                  	<td class="center-text">
		                  		<a href="{{ path('languages_published', {'id' : language.id }) }}">
				                  	{% if language.published %}
				                  		<i class="icon-ok"></i>
				                  	{% else %}
				                  		<i class="icon-ban-circle"></i>
				                  	{% endif %}
			                  	</a>
			                </td>
		                  	<td class="center-text">
		                  		<a href="{{ path('languages_default', {'id' : language.id }) }}">
			                  		{% if language.defaultLan %}
			                  			<i class="icon-ok"></i>
			                  		{% else %}
			                  			<i class="icon-ban-circle"></i>
			                  		{% endif %}
			                  	</a>
		                  	</td>
		                  	<td class="center-text">
		                  		<a href="{{ path('languages_edit', {'id' : language.id }) }}"><i class="icon-edit"></i></a>
		                  		<a href="{{ path('languages_delete', {'id' : language.id }) }}"><i class="icon-trash"></i></a>
		                  	</td>
		                </tr>
					{% endfor %}
	            </tbody>
	            <tfoot>
	            	<tr>
	            		<td colspan="6">{% trans %}Total{% endtrans %} : {{ languages|length }}</td>
	            	</tr>
	            </tfoot>
	        </table>
	    </div>
	</div>

{% endblock body %}
