{% extends('::admin.html.twig') %}

{% block body %}

	<div class="row-fluid">
		<div class="span12">
			{% for flashMessage in app.session.flashbag.get('info') %}
			    <div class="alert alert-info">
			    	<button class="close" data-dismiss="alert" type="button">×</button>
			        <strong>Notice</strong>
			        {{ flashMessage }}
			    </div>
			{% endfor %}
			<h1 class="pull-left">{% trans %}Category{% endtrans %}</h1>

             <a href="{{ path('languages') }}" class="button btn-cancel pull-right"><i class="admin-icon-left-open-1"></i> {% trans %}Back{% endtrans %}</a>
			<div class="clear h30"></div>
            <div class="row">
                <div class="span8">
				{% if language.id != 0 %}
					<form class="form-horizontal" action="{{path('languages_edit', {'id' : language.id })}}" method="post" {{ form_enctype(form) }}>
				{% else %}
					<form class="form-horizontal" action="{{path('languages_new')}}" method="post" {{ form_enctype(form) }}>
				{% endif %}

					{{ form_errors(form) }}

					<div class="control-group">
						<div class="control-label">
							{{ form_label(form.title) }}
						</div>
						<div class="controls">
							{{ form_widget(form.title) }}
							{{ form_errors(form.title) }}
						</div>
					</div>
					<div class="control-group">
						<div class="control-label">
							{{ form_label(form.iso) }}
						</div>
						<div class="controls">
							{{ form_widget(form.iso) }}
							{{ form_errors(form.iso) }}
						</div>
					</div>
					<div class="control-group">
						<div class="control-label">
							{{ form_label(form.published) }}
						</div>
						<div class="controls inline_elements">
							{{ form_widget(form.published) }}
							{{ form_errors(form.published) }}
						</div>
					</div>
					<div class="control-group">
						<div class="control-label">
							{{ form_label(form.default_lan) }}
						</div>
						<div class="controls inline_elements">
							{{ form_widget(form.default_lan) }}
							{{ form_errors(form.default_lan) }}
						</div>
					</div>

					{{ form_rest(form) }}

					<div class="form-actions">
					    <a href="{{ path('languages') }}" class="btn btn-small">{% trans %}Cancel{% endtrans %}</a>
                        <button type="submit" class="btn btn-primary btn-small">{% trans %}Validate{% endtrans %}</button>
				    </div>

				</form>
			</div>
		</div>
	</div>

{% endblock body %}
